body {
  font-family: 'Open Sans', sans-serif;
  color: #323648
}
.max-width {
  max-width: 1250px;
  padding: 0 50px;
  margin: 0 auto;
}
nav {
  height: 70px;
  border-bottom: 1px solid #E8E8E8;
}
.flex {
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  height: 100%;
}
.logo {
  height: 60px;
}
.title {
  height: 35px;
  border-left: 1px solid #E8E8E8;
  display: flex;
  align-items: center;
  padding-left: 12px;
  font-size: 22px;
  /*font-weight: bold;*/
  color: rgb(90, 91, 104);
}

.hero {
  height: 460px;
  justify-content: center;
  text-align: center;
}
.status-icon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #41C39F;
  margin: auto;
  box-shadow: 0 0 20px RGBA(65, 195, 159, .5);
  color: #fff;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.status-text {
  width: 100%;
  font-weight: bold;
  color: #323648;
  margin-top: 24px;
  font-size: 36px;
}
.status-text-sub {
  margin-top: 16px;
  color: #5A5B68;
  font-size: 18px;
}
.table-header {
  border-style: solid;
  border-color: #E8E8E8;
  border-width: 1px 1px 0 1px;
  padding: 12px;
  box-sizing: border-box;
  background: #F5F5F5;
  font-weight: bold;
}
.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-style: solid;
  border-color: #E8E8E8;
  border-width: 1px 0 0 1px;
}
.service {
  width: 50%;
  padding: 12px;
  box-sizing: border-box;
  border-style: solid;
  border-color: #E8E8E8;
  border-width: 0 1px 1px 0;
}
